//
// background.scss
//


// Background fixed at the bottom

.bg-fixed-bottom {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100% auto;
  background-attachment: fixed;
}

// Calculate the width of the main container because 
// the background-attachment property will use 100vw instead

.navbar-vertical ~ .main-content.bg-fixed-bottom {
  background-size: 100%;

  @include media-breakpoint-up(md) {
    background-size: calc(100% - #{$navbar-vertical-width}); 
  }
}


// Background cover

.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}