//
// borders.scss
//

.border-2 {
  border-width: 2px !important;
}
.border-top-2 {
  border-width: 2px !important;
}
.border-right-2 {
  border-width: 2px !important;
}
.border-bottom-2 {
  border-width: 2px !important;
}
.border-left-2 {
  border-width: 2px !important;
}