//
// Sticky Toolbar
//



.k-sticky-toolbar {
    width: 40px;
    position: fixed;
    top: 35%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 50;
    background: #fff;
    box-shadow: 0 0 15px 1px rgba(69,65,78,.2);

    @include k-rounded {
        border-radius: 3px 0 0 3px;
    }

    .k-sticky-toolbar__item {
        margin:0;
        padding: 5px;
        text-align: center; 

        > a {            
            > i {
                @include k-transition();
                font-size: 1.3rem;
                color: #908cb1;
            }          

            &:hover {
                > i {
                    @include k-transition();
                    color: k-brand-color();
                }
            }
        }
    }
}