//
// Head
//



.k-user-card {
	position: relative;
	margin: 0;
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;

	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem 1rem;
    min-height: 70px;
    margin-bottom: 35px;
	   
    .k-user-card__wrapper {
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        align-items: stretch;
        height: 100%;
        bottom: -35px;
        padding: 0 1.75rem;

        .k-user-card__pic {
            img {
                border-radius: 50%;
                max-width: 70px;
            }

            padding-right: 0.5rem;
        }

        .k-user-card__details {
            display: flex;
            flex-direction: column;

            .k-user-card__name {
                display: flex;
                align-items: center;
                font-size: 1.1rem;
                height: 50%;
                font-weight: 500;
                color: #fff;
            }                

            .k-user-card__position {
                display: flex;
                height: 50%;
                align-items: center;
                font-size: 0.9rem;
                font-weight: 400;
                color: k-font-color(-3);
            }
        }
    }    
}

@include k-tablet-and-mobile {
	.k-user-card {
    	min-height: 50px;
        margin-bottom: 25px;

        .k-user-card__wrapper {
            bottom: -25px;

            .k-user-card__pic {
                img {
                    max-width: 50px;
                }
            }
        }
	}
}