//
// Aside Brand Skin
//



// Build skin
.k-aside.k-aside--skin-brand {
	background-color: #6e4ff6;

	// Scrollbar
	@include k-perfect-scrollbar-skin(#927afb);

	// Footer
	.k-aside__footer {
		.btn {
			height: 3.35rem;
    		width: 3.35rem;
			background-color: #6546eb;
			
			i {
				@include k-transition();
				color: #c9bdff;
			}

			&:hover {
				background-color: #5c3ede;

				i {
					@include k-transition();
					color: #ffffff;
				}
			}
		}
	}
}

// Aside menu
@include k-menu-ver-custom-skin('k-aside', 'k-aside.k-aside--skin-brand .k-aside-menu', 'k-aside-menu', k-get($k-aside-menu-skins-config, brand));