//
// Aside Dark Skin
//



// Build skin
.k-aside.k-aside--skin-dark {
	background-color: #2b2a35;

	// Scrollbar
	@include k-perfect-scrollbar-skin(#737184);

	// Footer
	.k-aside__footer {
		.btn {
			height: 3.35rem;
    		width: 3.35rem;
			background-color: #282730;
			
			i {
				@include k-transition();
				color: #9c85f8;
			}

			&:hover {
				background-color: #23232b;

				i {
					@include k-transition();
					color: lighten(#9c85f8, 12%);
				}
			}
		}
	}
}

// Aside menu
@include k-menu-ver-custom-skin('k-aside', 'k-aside.k-aside--skin-dark .k-aside-menu', 'k-aside-menu', k-get($k-aside-menu-skins-config, dark));