//
// Page
//




@include k-desktop {	
	.k-wrapper {
		transition: k-get($k-aside-config, minimize, transition);
		
		// Fixed Aside
		.k-aside--fixed & {
			padding-left: k-get($k-aside-config, default, width);
		}

		// Minimize Aside
		.k-aside--fixed.k-aside--minimize & {
			padding-left: k-get($k-aside-config, minimize, width);
			transition: k-get($k-aside-config, minimize, transition);
		}

		// Fixed Header
		.k-header--fixed & {
			padding-top: k-get($k-header-config, default, height);
		}
	}
}

@include k-tablet-and-mobile {	
	.k-wrapper {

		// Fixed Header
		.k-header-mobile--fixed & {
			padding-top: k-get($k-header-mobile-config, self, default, height);
		}
	}
}

