//
// Header
//



// Desktop mode
@include k-desktop {
	.k-header {
		display: flex;
		justify-content: space-between;
		height: k-get($k-header-config, default, height);
		background-color: k-get($k-header-config, default, bg-color);
		box-shadow: k-get($k-header-config, default, shadow);
		transition: k-get($k-aside-config, minimize, transition);

		// Fixed
		&.k-header--fixed {
			position: fixed;
			top: 0;
			right: 0;
			left: k-get($k-aside-config, default, width);
			z-index: k-get($k-header-config, fixed, zindex);
		}

		// Minimize Aside
		.k-header--fixed.k-aside--minimize & {
			left: k-get($k-aside-config, minimize, width);
			transition: k-get($k-aside-config, minimize, transition);
		}
	}
}