//
// Aside
//




.k-aside {
	width: k-get($k-aside-config, default, width);
	background-color: k-get($k-aside-config, default, bg-color);
	box-shadow: k-get($k-aside-config, default, shadow);
	transition: k-get($k-aside-config, minimize, transition);
}

@include k-desktop {
	.k-aside {
		// Fixed
		.k-aside--fixed & {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: k-get($k-aside-config, fixed, zindex);
		}

		.k-aside--static & {
			position: relative;
			z-index: 1;
		}

		.k-header--fixed.k-aside--static & {
			padding-top: k-get($k-header-config, default, height);
		}

		// Minimize
		.k-aside--minimize & {
			width: k-get($k-aside-config, minimize, width);	
			transition: k-get($k-aside-config, minimize, transition);
		}

		.k-aside--minimizing & {
			.k-aside-menu {
				.k-menu__nav  {
					width: k-get($k-aside-config, default, width);
					overflow: hidden;
				}
			}
		}
	}

	// Fixed & Minimize Aside hover
	.k-aside--fixed.k-aside--minimize-hover {
		.k-aside {
			width: k-get($k-aside-config, default, width);
			transition: k-get($k-aside-config, minimize, transition);
		}

		.k-header {
			transition: k-get($k-aside-config, minimize, transition);
			left: k-get($k-aside-config, minimize, width);
		}

		.k-wrapper {
			transition: k-get($k-aside-config, minimize, transition);
			padding-left: k-get($k-aside-config, minimize, width);
		}
	}
}

@include k-offcanvas-build(k-aside, tablet-and-mobile, k-get($k-aside-config, offcanvas-mobile));