//
// Demo Config
//




// Shared Variables
$k-aside-default-width: 275px;
$k-aside-minimize-width: 78px;
$k-aside-offcanvas-width: 255px;
$k-page-padding: (
	desktop: 30px,
	mobile: 20px
);


// Demo Config
$k-demo-config: (
);