//
// Widget 9
//

// General Mode


.k-widget-9 {
	.k-widget-9__items {
		.k-widget-9__item {
			display: flex;
			align-items: center;		
			padding: 1rem 0;
			justify-content: space-between;

			.k-widget-9__item-info {
				flex: 1 0 0px;
				padding-right: 0.9rem; 
				
				> a {
					text-decoration: none;

					.k-widget-9__item-title {
						font-weight: 600; 
						font-size: 1.12rem;
						color: #757482;
						padding-right: 1rem;
						margin-bottom: 0.5rem;
					}
				}	

				.k-widget-9__item-desc {
					font-weight: 400; 
					font-size: 1rem;
					color: #B6B4C8;
				}
			}	

			.k-widget-9__item-stats {
				display: flex;
				align-items: center;

				.k-widget-9__item-value {
					padding-right: 1.15rem;
					color: #A5A3B6;
					font-size: 1rem;
					font-weight: 600; 
				}

				.k-widget-9__item-chart {
					width: 5.2rem;					 				
				}
			}		 		 
		}
	} 


	// States
	@each $name, $color in $k-state-colors {

		.k-widget-9__item {
			.k-widget-9__item-info {
				> a {

					&:hover {	
						.k-widget-9__item-title {
							color: k-state-color(brand, base);
						}							
					}						 
				}	
			}
		}		 	
	}	   	 		
}