//
// Widget 11
//




// General Mode
.k-widget-11 {	 
	.k-widget-11__item {
		margin-bottom: 2.75rem;

		&:last-child {
			margin-bottom: 0;
		}

		.k-widget-11__wrapper {
			display:flex;
			justify-content: space-between;
			margin-bottom: 1rem;
			
			.k-widget-11__title {
				color: #9294aa;
				font-weight: 500;
				font-size: 1.1rem;
			}

			.k-widget-11__value {
				color: #464457;
				font-weight: 600;
				font-size: 1.1rem;
				padding-left: 0.5rem;
			}	
		}

		.k-widget-11__progress {
			.progress {
				height: 0.5rem;
			}
		}
	}	
}


// Mobile Mode
@include k-tablet-and-mobile {
	.k-widget-11 {	 
	}		 
}
