//
// Header Menu
//




// Desktop Mode
@include k-menu-hor-build(k-get($k-header-menu-config, menu, desktop));

// Tablet & Mobile Mode
@include k-menu-ver-build(k-get($k-header-menu-config, menu, tablet-and-mobile));

// Header Menu Mobile Offcanvas
@include k-offcanvas-build(k-header-menu-wrapper, tablet-and-mobile, k-get($k-header-menu-config, offcanvas-mobile));

@include k-desktop {
	.k-header-menu {
		.k-menu__nav {
			> .k-menu__item {
				> .k-menu__link {
					border-radius: 3px;
					padding: 0.75rem 1.1rem;
				}

				&.k-menu__item--active,
				&.k-menu__item--hover,
				&:hover {
					> .k-menu__link {
						background-color: #212029;
					}
				}

				> .k-menu__submenu {
					> .k-menu__subnav {
						border-top-left-radius: 0;
						border-top-right-radius: 0;
					}
				}
			}
		}
	}
}