//
// Header Mobile
//



$k-header-mobile-config: (
	self: (
		default: (
			height: 60px,
		),		
		fixed: (		 
			zindex: 97
		)
	),

	toolbar: (
		toggler: (
			width: 26px,
			height: 26px,  
			transition-duration: 0.4s,
			thickness: 2px,
			space: 6px, 
			radius: 2px,
			color: (
				default: #4e4c5f,
				hover: k-brand-color(),
				active: k-brand-color()
			)
		)
	)	
)